<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.emotte.cloud.app.user.emerp.mapper.writer.WrEmerpUserMapper">
    <insert id="inserUser" parameterType="com.emotte.cloud.app.user.emerp.model.User">

		INSERT INTO T_USER
  			(ID,NAME)
		VALUES
  			((SELECT getseq() FROM DUAL),  #{name})

	</insert>
</mapper>